@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;700&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

@import url(./normalize.css);
@import url(./variables.css);

@import url(./components/header.css);
@import url(./components/side-bar.css);
@import url(./components/main.css);
@import url(./components/categories.css);
@import url(./components/carousel.css);
@import url(./components/videos.css);
@import url(./components/footer.css);

body {
    font-family: 'Inconsolata', monospace;
}

.highlight::selection {
    color: #fff;
    background-color: var(--main-color);
}

.streamer {
    display: flex;
    align-items: center;
}

.streamer-photo {
    width: 30px;
    height: 30px;

    position: relative;

    border-radius: 50%;
    background-color: #fff;
}

.streamer-photo img {
    width: 20px;
    height: 20px;

    position: absolute;

    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.streamer-main,
.streamer-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;
}

.streamer-main:hover,
.streamer-name:hover {
    color: rgb(29, 141, 233);
}

.streamer-main {
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}

.viewers {
    background-color: rgba(0, 0, 0, .45);
    white-space: nowrap;
}

.live:after {
    display: inline;
    content: "Live";

    text-transform: uppercase;
    background-color: #FF1B19;
}

.live:after,
.viewers {
    padding: 0 7px;
    line-height: 22px;

    border-radius: 5px;
    color: #fff;

    font-size: 15px;
}

.preview {
    width: 100%;
    height: 100%;
    
    position: relative;
    cursor: pointer;

    overflow: hidden;
}

.preview img {
    width: 100%;
    height: 100%;
    transform: scale(1.05);
}

.preview:before {
    width: 100%;
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;

    background-color: rgba(0, 0, 0, .35);
    color: #fff;

    font-size: 28px;

    font-family: "Font Awesome 5 Pro";
    content: "\f1b0";
    font-weight: bold;

    opacity: 0;
    visibility: hidden;
    z-index: 200;
    transition: all .1s ease;
}

.preview:hover:before {
    opacity: 1;
    visibility: visible;
}

.preview:after {
    position: absolute;

    left: 5px;
    top: 5px;

    z-index: 100;
}

.preview .viewers {
    position: absolute;
    top: 98%;
    left: 98%;

    transform: translate(-100%, -100%);
}