.carousel {
    display: flex;

    justify-content: center;

    height: 350px;
    width: 100%;

    left: 50%;

    transform: translate(-50%, 0);
    cursor: pointer;
}

.carousel label::after {
    margin: 0 5px;

    font-family: "Font Awesome 5 Pro";
    content: "\f1b0";

    color: rgba(0, 0, 0, .3);

    position: relative;

    top: 100%;

    cursor: pointer;
}

.carousel input {
    display: none;
}

.carousel input:checked + label:after {
    color: rgba(0, 0, 0, 75);
}

.carousel input:checked + label .carousel__card {
    visibility: visible;
    opacity: 1;
}

.carousel__card {
    position: absolute;

    left: 50%;
    top: 0;

    transform: translateX(-50%);

    visibility: hidden;
    opacity: 0;

    transition: all .35s ease;
    overflow: hidden;
}

.carousel-card {
    max-width: 650px;
    width: 100%;
    height: 90%;

    display: flex;
    justify-content: space-between;

    background-color: #EBEBEB;
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, .2);

    cursor: pointer;
}

.carousel-card-preview {
    width: 67%;
}

.carousel-card-sidebar {
    width: 33%;
    padding: 15px;

    display: flex;
    flex-direction: column;
}

.carousel-card-sidebar-streamer__photo {
    margin-right: 15px;
}

.carousel-card-sidebar-streamer-info {
    width: calc(100% - 45px);
    display: flex;

    flex-direction: column;
}

.carousel-card-sidebar__description {
    margin-top: 16px;
    height: 100%;

    overflow: auto;
}

@media(max-width: 425px) {
    .carousel {
        height: 350px;
    }

    .carousel-card {
        flex-direction: column;
    }

    .carousel-card-sidebar {
        width: 100%;
    }
}

@media(max-width: 375px) {
    .carousel {
        height: 315px;
    }
}

@media(max-width: 320px) {
    .carousel {
        height: 280px;
    }
}