.categories {
    height: calc(100vw - 250px);
    width: 60px;

    display: inline-flex;
    flex-direction: column;
    align-items: center;

    transform-origin: 0 0;
    transform: rotate(-90deg) translate(-60px, 0);

    overflow-y: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.categories::-webkit-scrollbar {
    width: 0;
}

.categories__category {
    margin-top: 15px;
}

.category {
   display: inline-block;
}

.category input {
    display: none;
}

.category__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 28px;
    padding: 12px 0;

    background-color: rgba(0, 0, 0, .05);
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, .15);

    font-size: 18px;
    font-family: inherit;
    font-weight: bold;
    writing-mode: vertical-rl;

    cursor: pointer;
    transition: background-color .08s ease;
}

.category__wrapper:hover {
    background-color: rgba(0, 0, 0, .12);
}

.category input:checked + .category__wrapper {
    background-color: var(--main-color);
    color: #fff;

    border: 0;
}

@media(max-width: 1200px) {
    .categories {
        height: calc(100vw - 55px);
    }
}