.header {
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;

    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);

    position: fixed;
    left: 0;
    top: 0;
    
    z-index: 200;
}

.logo {
    display: flex;
    align-items: flex-start;

    color: var(--main-color);
    cursor: pointer;
}

.logo .fa-cat {
    font-size: 32px;
    margin-right: 12px;
}

.search {
    width: 27%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__form {
    margin-right: 10px;
}

.search-form {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form__label {
    width: 100%;
}

.search-form__input {
    width: 100%;
    height: 30px;

    padding: 0 8px;
    
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px 0 0 4px;
}

.search-form__input:focus {
    border: 1px solid cornflowerblue;
    box-shadow: 0 0 2px cornflowerblue;
}

.search-form__submit {
    height: 30px;

    padding: 0 6px;

    border: 1px solid rgba(0, 0, 0, .2);
    border-left: 0;
    border-radius: 0px 4px 4px 0;

    transition: background-color .1s ease;
    cursor: pointer;
}

.search-form__submit:hover {
    background-color: rgba(0, 0, 0, .15);
}

.search .fa-microphone {
    color: rgba(0, 0, 0, .25);
    font-size: 22px;
    
    transition: color .1s ease;
    cursor: pointer;
}

.search .fa-microphone:hover {
    color: rgba(0, 0, 0, .45);
}

.header-actions {
    height: 100%;

    display: flex;
    align-items: center;
}

.header-action {
    cursor: pointer;
    transition: all .1s ease;
}

.header-actions .fa-bell {
    margin-right: 20px;

    font-size: 22px;
    color: rgba(0, 0, 0, .25);
}

.header-actions .fa-bell:hover {
    color: rgba(0, 0, 0, .45);
}

.header-actions__panel {
    position: relative;
}

.panel > .fa-paw {
    background-color: var(--main-color);
    padding: 9px;
    border-radius: 50%;
}

.panel {
    height: 100%;

    display: flex;
    align-items: center;
}

.panel-details {
    width: 155px;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);

    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.panel__details {
    position: absolute;
    left: 100%;
    top: 90%;

    transform: translateX(-100%);
}

.panel:hover .panel-details{
    opacity: 1;
    visibility: visible;
}

.panel:hover > .fa-paw {
    background-color: rgba(0, 0, 0, .15);
}

.panel-detail {
    padding: 8px 12px;

    cursor: pointer;
    transition: background-color .1s ease;
}

.panel-detail:hover {
    background-color: rgba(0, 0, 0, .1);
}

.panel-detail .fa {
    margin-right: 8px;
}

.panel-detail:last-child {
    border-top: 1px solid rgba(0, 0, 0, .18);
    color: red;
}

@media(max-width: 375px) {
    .logo h1 {
        display: none;
    }

    .search {
        width: 50%;
    }
}