.main {
    display: flex;
    flex-direction: column;

    margin-top: 60px;
    margin-left: 250px;

    padding: 0 15px 15px 15px;

    position: relative;
    overflow: hidden;
}

.main__categories {
    position: absolute;
    left: 0;
    top: 0;    
}

.main__carousel {
    margin-top: 90px;
    position: relative; 
}

.main__videos {
    margin-top: 65px;
}

.main__footer {
    margin-top: 35px;
}

@media(max-width: 1200px) {
    .main {
        margin-left: 55px;
    }
}