.side-bar {
    display: flex;
    flex-direction: column;

    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, .08);

    position: fixed;
    bottom: 0;
}

.streamers {
    height: 83.5%;

    margin-top: 60px;
    border-bottom: 1px solid #fff;
    overflow-y: auto;
}

.side-bar-streamer {
    justify-content: space-between;
    padding: 15px 20px;

    cursor: pointer;
    transition: background-color .05s ease;
}

.side-bar-streamer:hover {
    background-color: rgba(0, 0, 0, .1);
}

.side-bar-streamer__info {
    display: flex;
    align-items: center;
}

.side-bar-streamer__photo {
    margin-right: 15px;
}

.side-bar-streamer__name {
    width: 100px !important;
}

.side-bar-streamer__subs,
.social {
    font-weight: bold;
    font-size: 20px;
}
.online {
    position: relative;
}

.online:before {
    width: 8px;
    height: 8px;

    display: block;

    content: "";

    background-color: #FF1B19;
    border-radius: 50%;
    animation: pulse 2s infinite;

    position: absolute;
    left: -10px;
    top: 55%;

    transform: translate(-50%, -50%);
}

.social {
    height: 16.5%;
    padding: 20px;

    border: 15px solid #E5E5E5;
    background-color: rgba(0, 0, 0, .08);
    text-align: center;
}

.social__links {
    margin-top: 20px;
    font-size: 26px;
}

.social-links {
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.social-links .fa-telegram,
.social-links .fa-instagram,
.social-links .fa-facebook {
    color: black;
    transition: color .1s ease;
}

.social-links .fa-telegram:hover,
.social-links .fa-instagram:hover,
.social-links .fa-facebook:hover {
    color: rgb(29, 141, 233);
}

@media(max-width: 1200px) {
    .side-bar {
        width: 55px;
    }

    .streamers {
        height: 100%;
        border: 0;
    }

    .streamers::-webkit-scrollbar {
        width: 0;
      }

    .side-bar-streamer {
        padding-left: 0;
        padding-right: 0;

        justify-content: center;
    }
    
    .side-bar-streamer__photo {
        margin: 0;
    }

    .side-bar-streamer__name {
        display: none;
    }

    .side-bar-streamer__subs {
        display: none;
    }
    
    .social {
        display: none;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 27, 25, .5);
    }

    100% {
        box-shadow: 0 0 0 5px rgba(255, 27, 25, 0);
    }
}