 .videos{
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(330px, auto));
    grid-gap: 25px 15px;
}

.video {
    position: relative;
}

.video__sidebar {
    position: relative;
}

.video-sidebar {
    display: flex;

    padding: 5px 25px 5px 0;
    overflow: hidden; 
}

.video-sidebar::after {
    font-family: "Font Awesome 5 Pro";
    content: "\f142";

    font-weight: bold;

    position: absolute;
    left: 98%;
    top: 50%;

    transform: translate(-100%, -50%);
    cursor: pointer;
}

.video-sidebar__info {
    width: calc(100% - 45px);
    margin-left: 15px;

    display: flex;
    flex-direction: column;
}

.video-sidebar__info_main {
    width: 165px !important;
}

@media(max-width: 425px) {
    .videos{
        grid-template-columns: 1fr;
    }
}